.banner{
    max-width: 100%;
    height: 400px;
    background: url("https://img.freepik.com/free-photo/airport-terminal_1417-1456.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}